.container {
    max-width: 800px;
    margin: 0 auto;
}

.tour-form {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
}

.form-label {
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
}

.form-input,
.form-select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form-select {
    appearance: none;
}

.submit-button {
    padding: 10px 20px;
    background-color: #4285f4;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* Estilos para la imagen */
#imageInput {
    display: block;
    margin-bottom: 10px;
}

#imagePreview {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

#imageUrl {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#uploadButton {
    padding: 8px 16px;
    background-color: #4285f4;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 10px;
}

#successMessage {
    display: none;
    padding: 8px;
    background-color: #4caf50;
    color: #fff;
    border-radius: 4px;
}

label{
    margin-top: 15px;
}